:root {
    --background-color-element: rgba(255, 255, 255, 0.3);
    --color-ombre-logo: rgba(0, 0, 0, 0.3);
    --text-color: #000000;
}

body.night {
    --background-color-element: rgba(34, 48, 79, 0.3);
    --color-ombre-logo: rgba(255, 255, 255, 0.3);
    --text-color: #FFFFFF;
}

#containerImage {
    filter: drop-shadow(0 4px 8px var(--color-ombre-logo));
}

#mainAccueil {
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

#mainAccueil p {
    font-size: 1.7rem;
    color: var(--text-color);
}

#mainAccueil div a {
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 10px 15px;
    background-color: var(--background-color-element);
    text-decoration: none;
    border: solid 1px rgba(0, 53, 122, 0.2);
    border-radius: 10px;
}
#mainAccueil div {
    margin: 20px;
}

#mainAccueil div a:hover {
    background-color: transparent;
}