@font-face {
    font-family: 'Roboto-light';
    src: url('./../public/police/Roboto-Light.ttf');
}

:root {
    --html: #e86026;
    --css: #0f6cac;
    --Js: #f4dd1b;
    --git: #ed4b26;
    --java: #5382a1;
    --sql: #FE0809;
    --md: #6CA3F7;
}
.colorHtml {
    color: var(--html);
}
.colorCss {
    color: var(--css);
}
.colorJs {
    color: var(--Js);
}
.colorJava {
    color: var(--java);
}
.colorSql {
    color: var(--sql)
}
.colorGit {
    color: var(--git);
}
.colorMd{
    color: var(--md);
}

:root {
    --background-color-element: rgba(255, 255, 255, 0.3);
    --border-color-element: rgba(214, 207, 207, 0.2);
    --colorText: #000000;
    --color-ligne: rgb(32, 32, 32);
    --background-box-timeline:  rgb(255, 255, 255);
    --liens-hover: #4D5A5D;
}

body.night {
    --background-color-element: rgba(34, 48, 79, 0.3);
    --border-color-element: rgba(0, 53, 122, 0.2);
    --colorText: #FFFFFF;
    --color-ligne: rgb(241, 235, 235);
    --background-box-timeline:  rgb(34, 48, 79);
    --liens-hover: #4A5770;
}

#mainHeader {
    margin: 20px 0px;;
    text-align: center;
    width: 70%;
    font-size: 1.3rem;
    padding: 20px;
    background-color: var(--background-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--border-color-element);
    color: var(--colorText);
}

.home {
    text-decoration: none;
    color: var(--colorText);
}

.liens a {
    color: var(--colorText);
    text-decoration: none;
}

.liens a:hover {
    color: var(--liens-hover);
}

#containerAPropos{
    width: 70%;
    margin: 20px;
    
}

#containerAPropos1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

}

#containerAPropos1Texte {
    padding: 20px;
    background-color: var(--background-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--border-color-element);
    color: var(--colorText);
    font-size: 1.3rem;
}

#containerAPropos1Texte p {
    grid-column: 1;
    height: auto;
    padding: 20px;
    text-align: justify;
}

#conatianerAPropos1Img {
    grid-column: 2;
    padding: 30px 0px;
    background-color: var(--background-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--border-color-element);
    display: flex;
    align-items: center;
    justify-content: center;
}

#conatianerAPropos1Img img {
    width: 80%;
    border-radius: 10%;
}

#containerBtnContact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#containerBtnContact a {
    padding: 20px;
    border: solid 2px var(--border-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: var(--colorText);
    font-size: 1.3rem;
    text-decoration: none;
}

#containerBtnContact a:hover {
    background-color: var(--background-color-element);
}

#containerAPropos2 {
    margin: 20px 0px;
    background-color: var(--background-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--border-color-element);
    color: var(--colorText);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#skilsContaineur {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
    padding: 10px 0px 50px 0px;
}
#containerAPropos2 h2 {
    padding: 40px;
}

#skilsContaineur div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 2px var(--border-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

#html {
    grid-column: 1;
    grid-row: 1;
}

#css {
    grid-column: 2;
    grid-row: 1;
}

#js {
    grid-column: 3;
    grid-row: 1;
}

#java {
    grid-column: 1;
    grid-row: 2;
}

#sql {
    grid-column: 2;
    grid-row: 2;
}

#github {
    grid-column: 3;
    grid-row: 2;
}

#markdown {
    grid-column: 1;
    grid-row: 3;
}

#containerAPropos3 {
    margin: 20px 0px;
    padding: 20px 0px;
    background-color: var(--background-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--border-color-element);
    color: var(--colorText);
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#containerAPropos3 img {
    width: 50%;
    border-radius: 3px;
}

#containerAPropos3Texte {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#containerAPropos3Texte i {
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: solid 1px var(--border-color-element);
}

#containerAPropos4 {
    margin: 20px 0px;
    background-color: var(--background-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--border-color-element);
    color: var(--colorText);
    font-size: 1.3rem;
}

#containerAPropos4 h2 {
    text-align: center;
    padding: 40px;
}

.box-timeline {
    width: 100%;
    position: relative;
    height: 1500px;
    padding: 80px 0 250px 0;
}

.ligne {
    height: 1100px;
    width: 8px;
    margin: 0 auto;
    background: var(--color-ligne);
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--color-ligne);
    position: absolute;
    border: solid 1px var(--border-color-element);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.r1{top: 80px;}
.r2{top: 386px;}
.r3{top: 692px;}

.box {
    color: var(--colorText);
    width: 400px;
    min-height: 200px;
    padding: 20px;
    position: absolute;
    border-radius: 3px;
    height: auto;
    background: var(--background-box-timeline);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: 50%;
    transform: translate(-50%);
}

.b1 {
    top: 80px;
    left: calc(50% - 270px);
}
.b2 {
    top: 386px;
    left: calc(50% + 270px);
}
.b3 {
    top: 692px;
    left: calc(50% - 270px);
}

.box p {
    font-family: 'Roboto-light';
    text-align: justify;
}

#containerAPropos5 {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}

.div1 {
    grid-column: span 2 / span 2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div2 img {
    width: 80%;
}

#div2Texte {
    text-align: justify;
    padding: 20px;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-row-start: 2;
}
.div h3 {
    text-align: center;
    padding: 10px;
}

.div3 #div3Texte {
    height: 100%;
    display: flex;
    justify-content:baseline;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

#div3Texte p {
    padding: 20px;
}



.div4 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#containerAPropos5 .div {
    background-color: var(--background-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--border-color-element);
    color: var(--colorText);
    font-size: 1.3rem;
}
