@font-face {
    font-family: 'Roboto-Bold';
    src: url('./../public/police/Roboto_Condensed-Bold.ttf');
}

:root {
    --background-color-element: rgba(255, 255, 255, 0.3);
    --border-color-element: rgba(214, 207, 207, 0.2);
    --colorText: #000000;
    --liens-hover: #4D5A5D;
}

body.night {
    --background-color-element: rgba(34, 48, 79, 0.3);
    --border-color-element: rgba(0, 53, 122, 0.2);
    --colorText: #FFFFFF;
    --liens-hover: #4A5770;
}
body.dusk {
    --background-color-element: rgba(193, 77, 80, 0.3);
    --border-color-element: rgba(255, 255, 255, 0.2);
    --colorText: #000000;
    --liens-hover: #4D5A5D;
}

#mainHeader {
    margin: 20px 0px;;
    text-align: center;
    width: 70%;
    font-size: 1.3rem;
    padding: 20px;
    background-color: var(--background-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--border-color-element);
    color: var(--colorText);
}

#mainHeader h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.liens {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.liens a {
    color: var(--colorText);
    text-decoration: none;
    padding: 10px;
}

.liens a:hover {
    color: var(--liens-hover);
}

.containerArticles {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.articles {
    background-color: var(--background-color-element);
    border: solid 1px var(--border-color-element);
    border-radius: 10px;
    padding: 20px;
    margin: 30px 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.headerArticles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.headerArticles h1 {
    font-size: 2rem;
    color: var(--colorText);
    margin-bottom: 10px;
    font-family: 'Roboto-Bold';
}
.articles h2 {
    font-size: 1.8rem;
    margin-left: 20px;
    padding: 10px;
    color: var(--colorText);
}

.articles p {
    font-size: 1.3rem;
    color: var(--colorText);
    text-align: justify;
}