:root {
    --background-color-element: rgba(255, 255, 255, 0.3);
    --border-color-element: rgba(255, 255, 255, 0.2);
    --colorText: #000000;
}

body.night {
    --background-color-element: rgba(34, 48, 79, 0.3);
    --border-color-element: rgba(0, 53, 122, 0.2);
    --colorText: #FFFFFF;
}


#mainHeader {
    margin: 20px 0px;;
    text-align: center;
    font-size: 1.3rem;
    padding: 20px;
    background-color: var(--background-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--border-color-element);
    color: var(--colorText);
}

#containerPortfolio {
    font-size: 1.3rem;
    padding: 20px;
    background-color: var(--background-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--border-color-element);
    color: var(--colorText);

    
}

#modal1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

#webCard1 {
    grid-column: 1;
    grid-row: 1 ;
}
#webCard2 {
    grid-column: 2;
    grid-row: 1 ;
}
#webCard3 {
    grid-column: 3;
    grid-row: 1 ;
}
#webCard4 {
    grid-column: 1;
    grid-row: 2 ;
}
#webCard5 {
    grid-column:2;
    grid-row: 2 ;
}
#webCard6 {
    grid-column: 3;
    grid-row: 2 ;
}
#webCard7 {
    grid-column: 1;
    grid-row: 3 ;
}