:root {
    --html: #e86026;
    --css: #0f6cac;
    --Js: #f4dd1b;
    --git: #ed4b26;
    --java: #5382a1;
    --sql: #FE0809;
    --md: #6CA3F7;
    --react: #18CDDC;
    --linux: #0B0B0B;
}
.colorHtml {
    color: var(--html);
}
.colorCss {
    color: var(--css);
}
.colorJs {
    color: var(--Js);
}
.colorJava {
    color: var(--java);
}
.colorSql {
    color: var(--sql)
}
.colorGit {
    color: var(--git);
}
.colorMd{
    color: var(--md);
}

.colorReact {
    color: var(--react);
}
.colorLinux {
    color: var(--linux);
}
.colorPython {
    background: linear-gradient(135deg, #306998 50%, #FFD43B 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

:root {
    --background-color-element: rgba(255, 255, 255, 0.3);
    --border-color-element: rgba(255, 255, 255, 0.2);
    --colorText: #000000;
    --color-background-btn-choix: #B5A76E;
}

body.night {
    --background-color-element: rgba(34, 48, 79, 0.3);
    --border-color-element: rgba(0, 53, 122, 0.2);
    --colorText: #FFFFFF;
    --color-background-btn-choix: #2F3F78;
}

body.dusk {
    --color-background-btn-choix: #A03B3E;
}

#mainHeader {
    margin: 20px 0px;;
    text-align: center;
    font-size: 1.3rem;
    padding: 20px;
    background-color: var(--background-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--border-color-element);
    color: var(--colorText);
}

#containerPortfolio {
    font-size: 1.3rem;
    color: var(--colorText);
}

#modalContainer {
    background-color: var(--background-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--border-color-element);
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}

#webCard1 {
    grid-column: 1;
    grid-row: 1 ;
}
#webCard2 {
    grid-column: 2;
    grid-row: 1 ;
}
#webCard3 {
    grid-column: 3;
    grid-row: 1 ;
}
#webCard4 {
    grid-column: 1;
    grid-row: 2 ;
}
#webCard5 {
    grid-column:2;
    grid-row: 2 ;
}
#webCard6 {
    grid-column: 3;
    grid-row: 2 ;
}
#webCard7 {
    grid-column: 1;
    grid-row: 3 ;
}
#webCard8 {
    grid-column: 2;
    grid-row: 3 ;
}
#webCard9 {
    grid-column: 3;
    grid-row: 3 ;
}
#webCard10 {
    grid-column: 1;
    grid-row: 4 ;
}

#modalContainerUnniversitaire {
    background-color: var(--background-color-element);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--border-color-element);
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

#uniCard1 {
    grid-column: 1;
    grid-row: 1 ;
}
#uniCard2 {
    grid-column: 2;
    grid-row: 1 ;
}
#uniCard3 {
    grid-column: 3;
    grid-row: 1 ;
}
#uniCard4 {
    grid-column: 1;
    grid-row: 2 ;
}
#uniCard5 {
    grid-column:2;
    grid-row: 2 ;
}

#choix {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#choix .btn-choix {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1.3rem;
    border: solid 1px var(--border-color-element);
    border-radius: 5px;
    color: var(--colorText);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#btn-choix1 {
    background-color: var(--color-background-btn-choix);
}

.modal {
    display: none; /* Masquer par défaut */
    opacity: 0; /* Opacité initiale */
    transition: opacity 1s ease; /* Transition d'opacité */
}

.modal.show {
    display: block; /* Afficher le modal */
    opacity: 1; /* Opacité finale */
}