@media screen and (max-width: 1365px) {
    #containerAPropos{
        width: 100%;
        padding-block: 30px;
    
    }
}
@media screen and (max-width: 1000px) {
    .box-timeline {
        height: 100%;
    }
    .ligne {
        position: relative;
        left: 200px;
        height: 1950px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 50px);
    }
    .b0 {
        left: calc(50% + 10px);
    }

    .r2,.b2{top: 540px;}
    .r3,.b3{top: 950px;}
    .r4,.b4{top: 1390px}

}

@media screen and (max-width: 500px) {
    #containerAPropos {
        width: 100%;
        padding: 20px;
    }
    #containerAPropos1 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #containerAPropos1Texte {
        font-size: 1.1rem;
    }

    h2 {
        text-align: center;
    }

    #containerBtnContact {
        text-align: center;
        font-size: 1rem;
    }

    #skilsContaineur {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #containerAPropos3 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #containerAPropos3 img {
        width: 90%;
        margin: 20px 0;
    }

    #containerAPropos5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .div1  {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-timeline {
        display: none;
    }

    
    #box-timeline-telephone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    #box-timeline-telephone .box-tel {
        font-size: 1.5rem;
        color: var(--text-color);
        padding: 10px 15px;
        background-color: var(--background-color-element);
        border: solid 1px rgba(0, 53, 122, 0.2);
        border-radius: 10px;
        text-align: justify;
        margin: 10px;
    }

    .box-tel h3 {
        text-align: center;
    }
    
}
