/*tel*/
@media screen and (max-width: 650px) {
    #containerHeader, #gaucheHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #gaucheHeader {
        margin: 0px 0px 20px 0px;
    }

    #containerFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column-reverse;
    }

    #gaucheFooter {
        margin: 20px 0px 0px 0px;
    }

}

@media screen and (max-width: 400px) {
    #gaucheFooter {
        text-align: center;
    }
    #btnPortfolio {
        font-size: 1.2rem;
        padding: 10px 20px;   
    }
}
