@media screen and (max-width: 500px) {
    #mainAccueil p {
        font-size: 1.2rem;
        max-width: 400px;
    }
    #containerPresentation {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #containerImage img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    #containerImage img {
        width: 100%;
        height: auto;
    }
}