@media screen and (max-width: 1300px) {
    #containerMesComp {
        width: 90%;
        margin: 20px auto;
    }
}

@media screen and (max-width: 1000px) {
    #containerMesComp {
        width: 100%;
        margin: 20px auto;
    }
}

@media screen and (max-width: 900px) {
    #containerMesComp {
        width: 70%;
        margin: 20px auto;
    }

    #skilsContaineur {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

}

@media screen and (max-width: 500px) {
    #containerMesComp {
        width: 100%;
        margin: 20px auto;
    }
}