@media screen and (max-width: 1000px) {
  #containerPortfolio {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #mainHeader {
    width: 100%;
  }

}
